*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	height: 100vh;
	width: 100vw;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(85, 159, 230),rgb(230, 105, 196));
	display: flex;
	align-items: center;
	justify-content: center;
}
section:nth-child(1){
	position: relative;
	height: 90%;
	width: 90%;
	border-radius: 20px;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(230, 105, 196), rgb(85, 159, 230));
	box-shadow: inset -5px -5px 6px #224a61,
            inset 5px 5px 6px #88ffff;
}
header{
    position: relative;
    height: 10%;
    width: 100%;
	top: 0;
    display: flex;
    align-items: center;
	justify-content: center;
	background-color: transparent;
}
#logo{
	position: absolute;
	left: 30px;
	background: linear-gradient(45deg, yellow, #09ff00, #00fff2, yellow, #7bff00);
    -webkit-text-fill-color: transparent;
	background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
	animation: animate 1s infinite linear;
	font-size: 25px;
	font-weight: 700;
}
@keyframes animate{
	0%{
		filter: hue-rotate(0deg);
	}
	20%{
		filter: hue-rotate(72deg);
	}
	40%{
		filter: hue-rotate(144deg);
	}
	60%{
		filter: hue-rotate(216deg);
	}
	80%{
		filter: hue-rotate(288deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}
#logo i{
	margin-right: 15px;
}
main{
    position: relative;
    height: 80%;
    width: 100%;
    background: transparent;
}
main .left{
	position: absolute;
	height: 100%;
	width: 50%;
	background: transparent;
	display: flex;
	justify-content: center;
}
.image{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 20%;
	height: 300px;
	width: 60%;
	border-radius: 20px;
	background: #55b9f3;
	box-shadow:  8px 8px 16px #234c64,
             -8px -8px 16px #87ffff;
}
/* song image */
.image img{
	height: 100%;
	width: 100%;
	border-radius: 20px;
}
/* volume part */
.volume{
	position: absolute;
	bottom: 10%;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.volume p{
	font-size: 15px;
}
.volume i{
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 5px;
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 10px #4887c4,
             -5px -5px 10px #62b7ff;
}
.volume #volume_show{
	padding: 8px 12px;
	margin: 0 5px 0 0;
	border-radius: 5px;
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 10px #4887c4,
             -5px -5px 10px #62b7ff;
}
button{
	padding: 10px 12px;
	margin: 0 10px;
}
/* both range slider part */
input[type="range"]{
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 3px;
	margin: 0 15px;
	background: linear-gradient(45deg, rgb(0, 132, 255), rgb(255, 0, 187));
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: linear-gradient(90deg, rgb(255, 0, 187), rgb(0, 132, 255));
	border-radius: 50%;
	cursor: pointer;
}
.right input[type=range]{
	width: 40%;
}
main .right{
	position: absolute;
	height: 100%;
	width: 50%;
	left: 50%;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
#title{
	position: absolute;
	top: 20%;
	width: 100%;	
	display: inline;
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
	text-align: center;
	font-style: italic;
}
#artist{
	position: absolute;
	top: 30%;
	width: 100%;
	display: inline;
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
	text-align: center;
	font-style: italic;
}
.all_buttons{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.all_buttons button{
	border: none;
	height: 60px;
	width: 60px;
	border-radius: 50%;	
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	color: #fff;
}
.all_buttons button.play_button{
	height: 75px;
	width: 75px;
}
.right_blue, .right_pink:hover, .selected:hover{
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 8px #4887c4,
             -5px -5px 8px #62b7ff;
}
.right_pink, .selected, .right_blue:hover{
	background: linear-gradient(145deg, #cf5fb0, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
}
.blue{
	background: #55b9f3;
	box-shadow:  8px 8px 16px #234c64,
             -8px -8px 16px #87ffff;
}
.duration{
	position: absolute;
	bottom: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
}
.duration p{
	color: #fff;
}
i:before{
	color: #fff;
	font-size: 20px;
}
footer{
    position: relative;
    height: 10%;
    width: 100%;
	display: flex;
    align-items: center;
    text-align: center;
    background: transparent;
}
.show_song_no{
	position: absolute;
	right: 5% !important;
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
.right .show_song_no p:nth-child(2){
	margin: 0 3px;
}
.documentation{
	position: absolute;
	top: 9%;
	right: 9%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.hide_show{
	position: absolute;
	font-size: 25px;
	border: none;
	background: transparent;
	cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}
.documentation_page{
	position: absolute;
	height: 90%;
	width: 90%;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(230, 105, 196), rgb(85, 159, 230));
	box-shadow: inset -5px -5px 6px #224a61,
            inset 5px 5px 6px #88ffff;
}
.documentation_page header{
	position: absolute;
}
.documentation_body{
	position: relative;
	box-sizing: border-box;
	height: 90%;
	width: 100%;
	top: 7.5%;
	padding: 20px;
	overflow: scroll;
}
.documentation_body h1{
	font-size: 3em;
	text-align: center;
	color: navajowhite;
}
.documentation_body h2{
	font-size: 1.25em;
}
.documentation_body h2 ol{
	margin: 0 50px;
}
#list a:nth-child(1), #list a:nth-child(6), #list a:nth-child(11), #list a:nth-child(16), #list a:nth-child(21), #list a:nth-child(26), #list a:nth-child(31), #list a:nth-child(36), #list a:nth-child(41), #list a:nth-child(46), #list a:nth-child(51), #list a:nth-child(56), #list a:nth-child(61), #list a:nth-child(66), #list a:nth-child(71), #list a:nth-child(76), #list a:nth-child(81), #list a:nth-child(86), #list a:nth-child(91), #list a:nth-child(96), #list a:nth-child(101), #list a:nth-child(106), #list a:nth-child(111), #list a:nth-child(116), #list a:nth-child(121){
	color: rgb(127, 35, 240);
}
#list a:nth-child(2), #list a:nth-child(7), #list a:nth-child(12), #list a:nth-child(17), #list a:nth-child(22), #list a:nth-child(27), #list a:nth-child(32), #list a:nth-child(37), #list a:nth-child(42), #list a:nth-child(47), #list a:nth-child(52), #list a:nth-child(57), #list a:nth-child(62), #list a:nth-child(67), #list a:nth-child(72), #list a:nth-child(77), #list a:nth-child(82), #list a:nth-child(87), #list a:nth-child(92), #list a:nth-child(97), #list a:nth-child(102), #list a:nth-child(107), #list a:nth-child(112), #list a:nth-child(117), #list a:nth-child(122){
	color: rgb(131, 224, 255);
}
#list a:nth-child(3), #list a:nth-child(8), #list a:nth-child(13), #list a:nth-child(18), #list a:nth-child(23), #list a:nth-child(28), #list a:nth-child(33), #list a:nth-child(38), #list a:nth-child(43), #list a:nth-child(48), #list a:nth-child(53), #list a:nth-child(58), #list a:nth-child(63), #list a:nth-child(68), #list a:nth-child(73), #list a:nth-child(78), #list a:nth-child(83), #list a:nth-child(88), #list a:nth-child(93), #list a:nth-child(98), #list a:nth-child(103), #list a:nth-child(108), #list a:nth-child(113), #list a:nth-child(118), #list a:nth-child(123){
	color: rgb(23, 92, 219);
}
#list a:nth-child(4), #list a:nth-child(9), #list a:nth-child(14), #list a:nth-child(19), #list a:nth-child(24), #list a:nth-child(29), #list a:nth-child(34), #list a:nth-child(39), #list a:nth-child(44), #list a:nth-child(49), #list a:nth-child(54), #list a:nth-child(59), #list a:nth-child(64), #list a:nth-child(69), #list a:nth-child(74), #list a:nth-child(79), #list a:nth-child(84), #list a:nth-child(89), #list a:nth-child(94), #list a:nth-child(99), #list a:nth-child(104), #list a:nth-child(109), #list a:nth-child(114), #list a:nth-child(119), #list a:nth-child(124){
	color: rgb(254, 228, 64);
}
#list a:nth-child(5), #list a:nth-child(10), #list a:nth-child(15), #list a:nth-child(20), #list a:nth-child(25), #list a:nth-child(30), #list a:nth-child(35), #list a:nth-child(40), #list a:nth-child(45), #list a:nth-child(50), #list a:nth-child(55), #list a:nth-child(60), #list a:nth-child(65), #list a:nth-child(70), #list a:nth-child(75), #list a:nth-child(80), #list a:nth-child(85), #list a:nth-child(90), #list a:nth-child(95), #list a:nth-child(100), #list a:nth-child(105), #list a:nth-child(110), #list a:nth-child(115), #list a:nth-child(120), #list a:nth-child(125){
	color: rgb(0, 245, 212);
}
#list a {
	text-decoration: none;
	font-family: monospace;
	font-size: 20px;
	font-style: italic;
	font-variant: small-caps;
}
#list a:hover{
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (max-width: 1100px) {
	.all_buttons button{
		height: 50px;
		width: 50px;
	}
	.all_buttons{
		position: relative;
		top: 5%;
	}
	.all_buttons button.play_button{
		height: 65px;
		width: 65px;
	}
	.right #artist{
		top: 35%;
	}
}

@media screen and (max-width: 1050px) {
	.image{
		top: 22%;
		height: 280px;
	}	
}

@media screen and (max-width: 1000px) {
	.image{
		top: 25%;
		height: 250px;
	}
	.all_buttons button{
		height: 45px;
		width: 45px;
	}
	.all_buttons button.play_button{
		height: 60px;
		width: 60px;
	}
	.right #title{
		top: 22%;
		font-size: 30px;
	}
	.documentation_body h1{
		font-size: 2.5em;
	}
	.documentation_body h2{
		font-size: 1em;
	}
}

@media screen and (max-width: 950px) {
	.right #title{
		top: 20%;
	}
}

@media screen and (max-width: 925px) {
	.image{
		top: 27%;
		height: 220px;
		border-radius: 10px;
	}
	.left .image img{
		border-radius: 10px;
	}
	.all_buttons button{
		height: 45px;
		width: 45px;
	}
	.all_buttons button.play_button{
		height: 60px;
		width: 60px;
	}
	.right #title{
		top: 28%;
		font-size: 25px;
	}
	.right #artist{
		top: 38%;
		font-size: 16px;
	}
}

@media screen and (max-width: 800px){
	.image{
		top: 28%;
		height: 200px;
		border-radius: 10px;
	}
	.left .image img{
		border-radius: 10px;
	}
	.all_buttons{
		top: 10%;
	}
	.all_buttons button{
		height: 40px;
		width: 40px;
	}
	.all_buttons button.play_button{
		height: 55px;
		width: 55px;
	}
	.right #title{
		top: 28%;
		font-size: 25px;
	}
	.right #artist{
		top: 43%;
		font-size: 16px;
	}
	.documentation_body h1{
		font-size: 2.25em;
	}
}

@media screen and (max-width: 700px){
	main .right{
		position: relative;
		left: 48%;
	}
}

@media screen and (min-width: 601px) and (max-height: 675px){
	.image{
		top: 15%;
	}
	#title{
		top: 15%;
	}
	#artist{
		top: 25%;
	}
}

@media screen and (min-width: 601px) and (max-height: 625px){
	.image{
		top: 10%;
	}
	#title{
		top: 10%;
	}
	#artist{
		top: 25%;
	}
}

@media screen and (max-width: 1000px) and (max-height: 625px) {
	.right #title{
		top: 10%;
		font-size: 30px;
	}
	.right #artist{
		top: 28%;
		font-size: 16px;
	}
	.all_buttons{
		top: 0;
	}
}
@media screen and (max-width: 800px) and (max-height: 625px) {
	.right #title{
		top: 10%;
		font-size: 30px;
	}
}
@media screen and (max-width: 925px) and (max-height: 675px) {
	.right #title{
		top: 15%;
		font-size: 25px;
	}
	.right #artist{
		top: 30%;
		font-size: 16px;
	}
	.all_buttons{
		top: 0;
	}
}
@media screen and (max-width: 800px) and (max-height: 675px) {
	.right #title{
		top: 13%;
		font-size: 30px;
	}
}
@media screen and (max-width: 800px) and (max-height: 400px) and (min-height: 320px) {
	.image{
		height: 160px;
		width: 50%;
	}
	#title{
		top: 8% !important;
		font-size: 35px;
	}
	#artist{
		top: 35% !important;
		width: 100%;
		font-size: 18px;	
	}
	.all_buttons{
		top: 15% !important;
		width: 100%;
	}
	.show_song_no{
		font-size: 15px;
	}
}
@media screen and (max-width: 800px) and (max-height: 525px) and (min-height: 401px) {
	.image{
		top: 7%;
		height: 230px;
		width: 60%;
		border-radius: 10px;
	}
	.image img{
		border-radius: 10px;
	}
	.volume{
		bottom: 3%;
		width: 100%;
		height: 30px;
	}
	.volume p{
		font-size: 15px;
	}
	#title{
		top: 10% !important;
		font-size: 35px;
	}
	#artist{
		top: 33% !important;
		width: 100%;
		font-size: 18px;	
	}
	.all_buttons{
		top: 10% !important;
		width: 100%;
	}
	.all_buttons button{
		height: 40px;
		width: 40px;
	}
	.all_buttons button.play_button{
		height: 55px;
		width: 55px;
	}
	.duration{
		bottom: 3%;
	}
	.show_song_no{
		font-size: 15px;
	}
	.documentation_body{
		height: 87.5%;
		top: 10%;
	}
}

@media screen and (max-width: 600px){
	main .left{
		height: 50%;
		width: 100%;
	}
	.image{
		top: 0;
		height: 250px;
		width: 60%;
		border-radius: 10px;
	}
	/* song image */
	.image img{
		border-radius: 10px;
	}
	/* volume part */
	.volume{
		bottom: -100%;
		width: 100%;
		height: 30px;
		z-index: 1;
	}
	main .right{
		height: 50%;
		width: 100%;
		top: 50%;
		left: 0;
	}
	#title{
		top: 0% !important;
	}
	#artist{
		top: 20% !important;
	}
	.all_buttons{
		top: 0%;
	}
	.all_buttons button{
		height: 45px;
		width: 45px;
	}
	.all_buttons button.play_button{
		height: 60px;
		width: 60px;
	}
	.duration{
		bottom: 20%;
	}
	.show_song_no{
		right: 10% !important;
		font-size: 15px;
	}
	.documentation{
		top: 10%;
		right: 12%;
	}
}
@media screen and (max-width: 400px){
	.image{
		height: 220px;
	}
	#title{
		top: -10% !important;
	}
	#artist{
		top: 15% !important;
	}
	.all_buttons{
		top: -2%;
	}
	.all_buttons button{
		height: 40px;
		width: 40px;
	}
	.all_buttons button.play_button{
		height: 55px;
		width: 55px;
	}
}
@media screen and (max-width: 400px) and (max-height: 700px) {
	.image{
		height: 200px;
	}
	#title{
		top: -12% !important;
	}
	#artist{
		top: 17% !important;
	}
	.all_buttons{
		top: 2%;
	}
}
